*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
html,body{
    height: 100vh;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

main{
    grid-row: 2;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 2fr;
    gap: 3%;


}
.foto_nombre_perfil{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 3fr 1fr;

    align-items: center;
    align-self: center;
    height: 100%;
    padding: 0;

}

.foto_nombre_perfil h2{
    color: #ffd54f;
}
.bloque_foto_perfil{
    display: grid;
    align-self: center;
    justify-self: center;

    grid-row: 1;

    background-image: url("../img/logo.png");
    background-size: cover; 
    background-position: center;

    border-radius: 50%;
    border: 0.5em solid;
    color: #ffffff;
    box-shadow: 1px 1px 15px #00000026;

    width: 50%;
    height: 90%;
}

.informacion_personal h3{
    color: rgb(59, 59, 143);
}
.bloque_nombre{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-row: 2;
}
.text_nombre{
    font-size: 2em;
}
.estadisticas{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    border-radius: 16px;
    align-items: center;
    gap: 2%;
    padding: 1%;
}
.stat1,.stat2,.stat3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4%;
    height: 100%;
    border-radius: 26px;
    background-color: #ffffff;
    box-shadow: 1px 1px 15px #00000026;
}
.stat1{grid-column: 1;}
.stat2{grid-column: 2;}
.stat3{grid-column: 3;}

.stat_dato{
    text-decoration: none;

    font-weight: bold;
    color: #2a45a5;
    font-size: 2em;
    
    display: grid;
    justify-self: center;
    align-self: center;
}

select,
::picker(select){
    appearance: base-select;
}
::picker(select){
    border: none;
    box-shadow: 1px 1px 5px #00000030;
    border-radius: 0.3em;
}

::picker-icon{
    margin: 0;
    padding: 0;
    width: 10%;
    color: #2a45a54a;
}
option::checkmark {
    display: none;
}
option{
    color: #2a45a5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
select{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #2a45a5;
    font-size: 1.5em;
    font-weight: bold;

    height: 15%;
    width: 75%;
}
select,option{
    border: none;
}
.informacion_personal{
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 24px;
    gap: 3%;
    padding: 4em;
    background-color: rgba(232, 240, 255,0.7);
}
.bloque_mail,.bloque_contraseña{
    font-size: 1em;
    display: grid;
    gap: 5%;
}

.link_cambiar{
    text-decoration: none;
    background-color: rgb(59, 59, 143);
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
