@media screen and (max-width: 700px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        height: 100vh;
        display: grid;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:
        1fr
        2fr
        5fr
        2fr
        2fr;
    }
    .titulo{
        font-size: 2em;
        grid-column: span 2;
    }
    .sector1_vidas_progreso{
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .vidas{
        grid-column: 1;
        grid-row: 1;
        justify-content: center;
        justify-self: center;
        width: 100%;
        font-size: 2.7em;
    }
    .progreso{
        width: 100%;
        grid-column: span 2;
        grid-row: 2;
    }
    .text_progreso{
        display: none;
        visibility: hidden;
    }
    .sector2_contenido{
        grid-row: 3;
        height: 100%;
    }
    .titulo_sec2_cont{
        grid-column: span 3;
        font-size: 2em;
    }
    .bloque_oracion{
        height: 100%;
        font-size: 1.5em;
    }
    .sector3_palabras{
        grid-row: 4;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }
    .palabra{
        height: 100%;
        font-size: 1em;
    }
    .sector4_boton{
        grid-row: 5;
        display: inline;
        width: 100%;
    }
    .boton_respuesta{
        text-decoration: none;
        width: 100%;
        font-size: 1em;
    }
}