*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
body{
    display: grid;
    grid-template-rows: 1fr 6fr 1.5fr;
}
main{
    grid-row: 2;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 4fr 1fr 1fr;
    gap: 1%;
    padding: 1%;
}
footer{grid-row: 3; margin: 0; padding: 0;}
.cruz{
    display: grid;
    align-self: end;
    justify-self: right;
    text-decoration: none;
}
.cruz i{
    color: #000000;
}
.titulo{
    padding: 0;
    margin: 0;
    display: grid;
    justify-self: center;
    align-self: center;
    font-size: 2em;
}
header{grid-row: 1;}

.sector1_vidas_progreso{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 1%;
    width: 100%;
}
.vidas{
    justify-self: end;
    font-size: 5em;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}
.vida{
    background: linear-gradient(64deg,#ffff1f 0%, #ffa600 35%, #de3333 78%);    
    background-clip: text;
    color: transparent;
}
.progreso{
    width: 50%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content:  left;
    border: 1px solid;
    border-color: #03010156;
    box-shadow: 1px 2px 1px #03010156;    
    border-radius: 10px;
}
.barra_progreso{
    border-radius:0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: #87ff87;
}
.text_progreso, .porcentaje{
    color: #627fff;
    font-weight: bold;
    font-size: 1.5em;
}
.porcentaje{
    text-align: right;
}
.sector2_contenido{
    border-radius: 1em;
    box-shadow: 1px 1px 5px #0000005b;
    border: 2px solid;
    border-color:white ;

    padding: 1%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.titulo_sec2_cont{
    font-size: 2em;
    border-bottom: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
}
.bloque_oracion{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
}
.respesta{
    grid-row: 3;
}
.text_area_respuesta{
    border-radius: 1em;
    width: 100%;
    height: 100%;
    resize: none;
}
.text_area_respuesta::placeholder {
    color: transparent;
}
.sector3_palabras{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.palabra{
    font-size: 1.5em;
    border: 1px solid ;
    border-color: #0000003a;
    border-radius: 10px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.palabra:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px #00000079;
}
.sector4_boton{
    display: grid;
    align-items: center;
    justify-content: end;
}
.boton_respuesta{
    font-size: 2em;
    color: #075507;
    padding: 1%;
    height:90%;
    border: 1px solid;
    box-shadow: 1px 2px 1px #047910;    
    border-radius: 10px;
    background-color: #87ff87;
}

.popup {
    font-size: 2em;
    position: fixed;
    margin: auto;

    height: 25%;
    width: 45%;
    padding: 1.5em;
    border: none;

    border-radius: 1em;
    text-align: center;
    background-image: url("../img/tres.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40% auto;
    
    box-shadow: 1px 1px 10px #0000002f;
}
.popup::backdrop {
    background: #00000080;
}
.boton_close {
    border-radius: 1em;
    background-color: white;
    font-size: 1em;
    margin: 4%;
    height: 20%;
    width: 91%;
    position: absolute;
    bottom: 1.5em;
    left: 0;
    bottom: 0;
}
