@media screen and (min-width: 700px) and (max-width: 1376px){
    header{grid-row: 1; height: 60%;}
    body{
        display: grid;
        grid-template-rows: 1fr 8fr;
    }

    .home{
        grid-column: span 2;
        grid-row: span 2;
        height: 100%;
    }
    main{
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    } 
    h2{
        grid-row: 1;
        grid-column: span 2;
        display: grid;
        justify-self: center;
        align-self: center;
        font-size:3em;
    }
    
    .sector1_vidas_progreso{
        grid-column: span 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vidas{
        font-size: 7em;
        grid-column: 2;
        grid-row: 2;
    }
    .vida,.vida_vacia{
        font-size: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progreso{
        grid-column: 1;
        grid-row: 2;
        width: 50%;
        height: 70%;
    }
    .sector2_contenido{
        grid-column: span 2;
        grid-row: 3;
    }
    .sector3_palabras{
        grid-column: span 2;
        grid-row: 4;
    }
    .palabra{
        height: 70%;
    }
    .sector4_boton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        grid-column: 2;
        grid-row: 5;
    }
    .boton_respuesta{
        align-items: center;
        justify-content: center;
        height: 100px;
        display: grid;
    }
}