*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
body{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    height: 100%;
    gap: 0.5%;
}

.sector1_vidas_progreso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    width: 100%;
    height: 100%;
}
.vidas{
    justify-self: end;
    font-size: 4em;
    display: flex;
    grid-column: 2;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: end;
    
}
.vida{
    background: linear-gradient(64deg,#ffff1f 0%, #ffa600 35%, #de3333 78%);    
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 2px 2px #0005);
}
.progreso{
    width: 50%;
    padding: 1%;
    display: flex;
    grid-column: 1;
    height: 100%;
    align-items: center;
    justify-content:  left;
    border: 1px solid;
    box-shadow: 1px 2px 1px #030101;    
    border-radius: 10px;
}
.barra_progreso{
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: #87ff87;
}
.text_progreso, .porcentaje{
    color: #627fff;
    font-weight: bold;
    font-size: 1.5em;
}
.porcentaje{
    text-align: right;
}
.sector2_contenido{
    border-radius: 10px;
    border: 1px solid;
    box-shadow: inset 0 0 5px #00000065;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}
.titulo_sec2_cont{
    font-size: 3em;
    border-bottom: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}
.bloque_oracion{
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
}
.respesta{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 3;
}
.sector3_palabras{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3%;
    justify-content: center;
    align-items: center;
}
.palabra{
    font-size: 2em;
    border: 1px solid;
    border-radius: 10px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.palabra:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px #00000079;
}
.sector4_boton{
    display: flex;
    justify-content: right;
}
.boton_respuesta{
    font-size: 2em;
    color: #075507;
    padding: 1%;
    height: 100%;
    width: 325px;
    border: 1px solid;
    box-shadow: 1px 2px 1px #047910;    
    border-radius: 10px;
    background-color: #87ff87;
}

