@media screen and (min-width: 700px) and (max-width: 1376px){

    body{
        display: grid;
        grid-template-rows: 0.5fr 8fr 1fr;
    }
    header{grid-row: 1;}
    .home{
        grid-column: span 2;
        grid-row: span 2;
        height: 100%;
    }
    main{
        grid-row: 2;
        display: grid;
        grid-template-rows: 0.5fr 1fr 1fr 2fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    footer{grid-row: 3;}
    .cruz{
        grid-column: span 2;
        grid-row: 1;
        display: grid;
        align-self: end;
        justify-self: right;
        text-decoration: none;
    }
    .cruz i{
        color: #000000;
    }
    h2{
        grid-row: 2;
        grid-column: span 2;
        display: grid;
        justify-self: center;
        align-self: center;
        font-size:2em;
    }
    
    .sector1_vidas_progreso{
        grid-column: span 2;
        grid-row: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vidas{
        font-size: 4em;
        grid-column: 2;
        grid-row: 2;
    }
    .vida,.vida_vacia{
        font-size: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progreso{
        grid-column: 1;
        grid-row: 2;
        width: 50%;
        height: 70%;
    }
    .sector2_contenido{
        grid-column: span 2;
        grid-row: 4;

    }
    .titulo_sec2_cont{
        font-size: 2em;
    }
    .bloque_oracion{
        font-family: 1em;
    }
    .sector3_palabras{
        grid-row: 5;
    }
    .palabra{
        height: 70%;
    }
    .sector4_boton {
        display: grid;
        align-items: end;
        justify-content: right;
        grid-row: 6;
    }
    .boton_respuesta{

        align-items: center;
        justify-content: center;
        height: 100px;
        display: grid;
    }
    a{
        text-decoration: none;
    }
}