@media screen and (min-width: 701px) and (max-width: 1376px){
    body{
        display: grid;
        grid-template-rows: 1fr 8fr;
    }
   
    .cabecera{
        grid-column: span 2;
        grid-row: 1;
        height: 70%;
    }
    .perfil,.ranking{
        display: none;
        visibility: hidden;
    }
    .home{
        grid-column: span 2;
        grid-row: span 2;
        height: 100%;
    }
    main{
        display: grid;
        grid-template-rows: 1fr 2fr 1fr 1fr;
    } 
    .sector1_vidas_progreso{
        grid-column: span 2;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vidas{
        grid-column: 2;
        grid-row: 2;
    }
    .vida,.vida_vacia{
        font-size: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progreso{
        grid-column: 1;
        grid-row: 2;
        width: 50%;
        height: 70%;
    }
    .sector2_contenido{
        grid-column: span 2;
        grid-row: 2;
    }
    .sector3_palabras{
        grid-column: span 2;
        grid-row: 3;
    }
    .palabra{
        height: 70%;
    }
    .sector4_boton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        grid-column: 2;
        grid-row: 4;
    }
    .boton_respuesta{
        height: 100px;
        display: grid;
        
    }
}