html,
body {
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
    background-color: rgb(232, 240, 255);
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabezera_clasificacion {
    text-align: center;
    h2 {
        color: rgb(59, 59, 143);
    }
    h3 {
        color: #F6F6F6;
    }
    margin: 2em 0;
    border: 0.15em rgb(126, 115, 12) solid;
    border-radius: 0.5em;   
    background-color: #FDD052;
}

.tabla_clasificacion {
    border-collapse: collapse;
}

.cuerpo_tabla_clasificacion {
    text-align: center;
}

.primera_fila_cabezera_tabla_clasificacion {
    background-color: rgb(59, 59, 143);
    color: rgb(232, 240, 255);
}

th, td {
    border: 0.1em solid black;
    padding: 0.5em 1em;      
    text-align: center;      
}

