@media screen and (min-width: 500px) {
    *{
    margin: 0;
    padding: 0;
    }
    html, body{
        height: 100dvh;
        box-sizing: border-box;
    }
    body{
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-rows: 1fr 5fr;
        padding: 2%;
    }
    .sector_targetas{
        align-items: center;
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns:repeat(3, 1fr);
        gap: 2%;
    }
    .segundo_titulo{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: aliceblue;
        grid-column: 2;
        border-bottom: 1px solid;
        height: 100%;
        width: 100%;
    }
    .targeta{
        text-align: center;
        padding: 5%;
        margin: 5%;
        height: 80%;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-row: 2;
        border-radius: 5%;

        /*se puede sacar
        lo que hace es trasformar la targeta, estos son los valores de la transicion*/
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    
    /*se puede sacar*/
    /*Hover es una propiedad que es cuando el mause pasa por encima el objeto cambia
    en este caso lo que va a hacer es hacer un poco mas grande por la escala 
    y le da la sombra*/
    .targeta:hover{
        transform: scale(1.03);
        box-shadow: 0 10px 20px #00000079;
    }

    .sector_emoji{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4em;
    }
    .texto_nombre_estado{
        font-size: 2em;
    }
    .boton_iniciar{
        font-size: 2em;
        background-color: #d1d351;
        font-weight: bold;
        border-radius: 5%;
        height: 100%;
        width: 100%;
    }
    .estado1{
        color: #51ff00;
    }
    .estado2{
        color:#e9c600;
    }
    .estado3{
        color:#610000 ;
    }
    .estado1,.estado2,.estado3,.boton_iniciar{
        font-weight: bold;

    }
    #lex1{
        background: linear-gradient(to right, #61c56e, #14851a);
        border: 5px dashed;
        border-color: #39ff54;
    }
    #lex2{
        background: linear-gradient(to right, #f3a743, #a14f02);
        border: 5px dashed;
        border-color: #ff9100;
    }
    #lex3{
        background: linear-gradient(to right, #ca5e5a, #a11d0b);
        border: 5px dashed;
        border-color: #ff352e;
    }
}
