
@media screen and (max-width: 700px){
    .home,.perfil,.ranking,#nav2{
        visibility: hidden;
        display: none;

    }
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    html,body{
        height: 100vh;
    }
    body{
        display: grid;
        grid-template-rows: 1fr 8fr 1fr;
    }
    main{
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

    }
    .sector_targetas{
        grid-column: 1;
        grid-row: 1;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr;
    }
    .targeta{
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3,1fr);
        grid-column: 1;
        
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .segundo_titulo{
        grid-column: 1;
        grid-row: 1;
        font-size: 2em;
    }
    #lex1{
        grid-row: 2;

    }
    #lex2{
        grid-row: 3;

    }
    #lex3{
        grid-row: 4;

    }
    .sector_emoji {
        grid-row: 1;
        grid-column: 1;
        font-size: 2em;
    }

    .texto_nombre_estado {
        display: flex;
        grid-row: 1;
        grid-column: 2;

        display: grid;
        align-items: center;
        justify-content: center;
    }

    .boton_iniciar {
        margin: 3%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: end;
        width: 50%;
        height: 50%;
        grid-row: 1;
        grid-column: 3;
    }
    footer{
        visibility: hidden;
        display: none;
    }
}
   